{% extends 'layout/content_padded.html.twig' %}

{% block pageContent %}
    <div id="app">
        <div v-cloak v-if="players.count > 0" v-for="player in players">
        </div>
        <div v-cloak v-else>
            <p>No players found.</p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="module">
        createMyApp({
            data() {
                return {
                    players: {{ players | json_encode | raw }}
                };
            },
            delimiters: ['${', '}']
        }).mount('#app');
    </script>
{% endblock %}
